# temporary files
*~
\#*#
tmp/

# build directory
build/

# android
*.dex

# java
*.class

# Local configuration file (sdk path, etc)
local.properties
project.properties

# intelliJ IDEA
.idea/
*.iml

# mac / windows
.DS_Store
Thumbs.db

# gradle
.gradle/
